body{
    margin:0;
}
ul{
    display: flex;
    gap: 25px;
    list-style-type:none;
    margin: 0;
}
a{
    text-decoration:none;
    color:white;
}
.header{
    background-color:#1F2937;
    height: 600px;
}
.header-head{
    margin-left: 450px;
    margin-right:450px;
    display:flex;
    justify-content:space-between;
}
.header-body{
    margin-top: 100px;
    display: flex;
    gap: 100px;
    align-items:center;
    margin-left: 450px;
}
.header-logo{
    display: flex;
    height: 75px;
    width: 75px;
    margin-top: 30px;
}
.header-links{
    font-size: 18px;
    color: #e5e7eb;
    margin-top:30px;
}
.title{
    color: #F9FAF8;
    font-size:48px;
    font-weight: 800;
}
.secondary-text{
    font-size: 18px;
    color:#e5e7eb;
}
.header-content{
    color:white;
    display: flex;
    flex-direction:column;
    gap:16px;
}
.signup-button{
    border-radius:8px;
    height:40px;
    width:125px;
    background-color:#3882f6;
    color:#e5e7eb;
    font-size: 18px;
    font-weight: 800;
    border-color: #3882f6;
}

.header-image{
    display:flex;
    font-size:18px;
    height: 310px;
    width:550px;
    background-color:#5a5a5a;
    color:white;
    margin-right:450px;
}
.body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.team{
    display: flex;
    flex-direction:column;
    gap:5px;
}
.team-image{
    display:flex;
    gap: 30px;
    margin-left:500px;
    margin-right:500px;
}
.information-text{
    margin-bottom: 46px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.mid-body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:#e5e7eb;
    height: 400px;   
}
.bottom-body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height: 400px;
}
.card{
    display: flex;
    justify-content: left;
    height: 125px;
    background-color: #3882f6;
    width: 900px;
    border-radius: 8px;
}
.text{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top:35px;
}
.card-title{
    font-size: 24px;
    font-weight: 800;
}
.card-text{
    font-size: 18px;
    font-weight: 300;
}
.card-button{
    margin-left: 200px;
    margin-top:45px;
}
.footer{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #1F2937;
    height: 75px;
}
.footer-text{
    color: white;
    font-size: 18px;
}
#signup{
    font-size:24px;
    border-radius:4px;
    background-color: #3882f6;
    color: white;
    border-color:white;
    border-width: 3px;
}
#team1,#team2,#team3,#team4{
    border:solid #3882f6;
    border-radius:12px;
    height: 125px;
    width: 125px;
}
#desc1,#desc2,#desc3,#desc4{
    width: 150px;
    font-size:16px;
}
#quote{
    font-size:36px;
    font-weight:300;
    font-style: italic;
}
#author{
    margin-left: 500px;
    font-size: 22px;
    font-weight: 800;
}
